body {
    font-size: 1.2em;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f6f6f6;
    color: #333;
}

#wrapper  {
  width: 100%;
  margin: auto;
}

p {
  width: 25%;
  margin: auto;
}